body {
    padding: 50px;
    font-size: 16px;
    font-family: "Arial", sans-serif;
    background: cadetblue;
}

h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0 midnightblue;
}

h2 {
    position: relative;
    text-align: left;
    color: midnightblue;
    text-shadow: 2px 2px 0 #cccccc;
}

canvas {
    color: blue
}

table {
    margin: auto;
    padding: 50px;
    text-align: center;
    border: 1px solid midnightblue;
    border-collapse: collapse;
    background: rgba(245, 245, 245, 1);
    box-shadow: 10px 10px 0 rgba(204, 204, 204, 0.3);
}

th {
    background-color: cadetblue;
    color: white;
}

th, td {
    font-size: 20px;
    width: 20%;
    border: 1px solid midnightblue;
}

tr:hover td {background-color: rgba(95, 158, 160, 0.2);}

label {
    font-size: 24px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 0 midnightblue;
}

#nameInput {
    text-align: center;
}


#source {
    width: 300px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    box-shadow: 5px 5px 0 rgba(204, 204, 204, 0.2);
    border-radius: 30px;
}

#base {
    width: 900px;
    height: 750px;
    margin: 1em auto;
    padding: 1em;
    background: rgba(245, 245, 245, 1);
    box-shadow: 10px 10px 0 rgba(204, 204, 204, 0.3);
}

#nextFigure {
    position: relative;
    left: 100px;
    display: inline-block;
}

#rightPanel {
    margin: 30px;
    width: 300px;
    height: 600px;
    display: inline-block;
}

#canvas {
    margin: 70px;
    float: left;
}

#player {
    font-size: 16px;
    font-style: inherit;
}

.button {
    text-align: center;
    margin: auto;
    width: 150px;
    height: 35px;
    font-size: 20px;
    font-style: italic;
    color: midnightblue;
    box-shadow: 5px 5px 0 rgba(204, 204, 204, 0.2);
    border-radius: 30px;
}